@page "/Confirmacao/{Id:int}"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<main>
        <div class="background-confirmacao">
            <div class="text-confirmacao">
                <ul>
                    <li>
                        <p>
                            Serviço agendado! 🐶
                        </p>

                        <p>
                            Seu agendamento foi realizado com sucesso. Estamos ansiosos para cuidar do seu pet!
                        </p>

                    </li>
                </ul>
            </div>


            <div class="detalhes-agendamento">
                <ul>
                    <li>
                        @if (agendamento == null)
                        {
                            <p>Carregando...</p>
                        }
                        else
                        {
                            <p>Serviço: @agendamento.Servicos?.FirstOrDefault()?.Nome</p>
                            <p>Animal: @agendamento.Animal?.Nome</p>
                            <p>Data e hora: @agendamento.DataAgendamento.ToString("dd/MM/yyyy, HH:mm")</p>
                            <p>Forma de pagamento: @agendamento.TipoPagamento</p>
                            <p>Status: @agendamento.Status</p>
                            <p>Cadastrado em: @agendamento.DataConfirmacao.ToString("dd/MM/yyyy, HH:mm")</p>
                        }
                    </li>
                    <li class="valor">
                        <p>

                        </p>
                    </li>
                </ul>
            </div>

            <hr>
            <div class="info-extra">
                <ul>
                    <li>
                        <p>
                            Chegue com 10 minutos de antecedência.
                            Caso precise remarcar, entre em contato conosco.
                        </p>
                        <p>
                            Seu pet será tratado com todo carinho e cuidado ❤️
                        </p>
                    </li>
                </ul>
            </div>
            <!-- <hr> -->


            <div class="btn-agendamento">
                <Button class="btn-agendar" @onclick="AgendarNovoServico">
                    Agendar novo serviço
                </Button>
                <Button class="btn-voltar" @onclick="TelaInicial">
                    Voltar ao Início
                </Button>
            </div>
        </div>
    </main>

@code {
    [Parameter]
    public int Id { get; set; }

    private AgendamentoDTO? agendamento;

    protected override async Task OnInitializedAsync()
    {
        agendamento = await Http.GetFromJsonAsync<AgendamentoDTO>($"api/agendamento/{Id}");
    }

    public void AgendarNovoServico()
    {
        NavigationManager.NavigateTo("/agendamentoServico");
    }

    public void TelaInicial()
    {
        NavigationManager.NavigateTo("/home");
    }
}
