@page "/agendamentoServico"
@using System.ComponentModel.DataAnnotations
@using System.Linq.Expressions
@inject NavigationManager Navigation
@inject AnimalService AnimalService
@inject ServicoService ServicoService

<main>
    <div class="header-page">
        <span class="material-symbols-outlined" @onclick="Voltar">arrow_back</span>
    </div>

    <div class="card-form">
        <p class="title">Agendamento de Serviços</p>

        <EditForm EditContext="editContext" OnValidSubmit="Pagamento">
            <DataAnnotationsValidator />

            <!-- ANIMAL -->
            <div class="field">
                <InputSelect class="@GetClass(() => model.AnimalId)"
                             @bind-Value="model.AnimalId">
                    <option value="">Selecione um animal</option>

                    @foreach (var animal in animals)
                    {
                        <option value="@animal.Id">
                            @animal.Nome (@animal.NomeEspecie - @animal.NomeTamanhoAnimal)
                        </option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => model.AnimalId)" />
            </div>

            <!-- SERVIÇO -->
            <div class="field">
                @if (isLoading)
                {
                    <p>Carregando...</p>
                }
                else
                {
                    <InputSelect class="@GetClass(() => model.ServicoId)"
                                 @bind-Value="model.ServicoId"
                                 disabled="@(model.AnimalId == null)">
                        <option value="">Selecione o serviço</option>

                        @foreach (var servico in servicos)
                        {
                            <option value="@servico.Id">
                                @servico.Nome - R$ @servico.Preco.
                            </option>
                        }
                    </InputSelect>
                }

                <ValidationMessage For="@(() => model.ServicoId)" />
            </div>

            <!-- DATA -->
            <div class="field">
                <InputDate class="@GetClass(() => model.DataAgendamento)"
                           @bind-Value="model.DataAgendamento"
                           type="InputDateType.DateTimeLocal" />

                <ValidationMessage For="@(() => model.DataAgendamento)" />
            </div>

            <!-- BOTÕES -->
            <div class="actions">
                <button type="submit" class="btn-primary">Avançar</button>
            </div>
        </EditForm>
    </div>

    <!-- TOAST -->
    @if (!string.IsNullOrEmpty(toast))
    {
        <div class="toast">@toast</div>
    }
</main>

@code {
    private List<AnimalDTO> animals = new();
    private List<ServicoOutputDTO> servicos = new();

    private bool isLoading;
    private string? toast;

    private AgendamentoModel model = new();
    private EditContext editContext;

    protected override async Task OnInitializedAsync()
    {
        animals = await AnimalService.GetAllAnimalsAsync() ?? new();

        editContext = new EditContext(model);

        editContext.OnFieldChanged += async (sender, e) =>
        {
            if (e.FieldIdentifier.FieldName == nameof(model.AnimalId))
            {
                await CarregarServicos();
            }
        };
    }

    private async Task CarregarServicos()
    {
        servicos.Clear();
        model.ServicoId = null;

        if (model.AnimalId == null)
            return;

        isLoading = true;

        try
        {
            servicos = await ServicoService.GetServicosPorAnimalAsync(model.AnimalId.Value) ?? new();
        }
        catch
        {
            await ShowToast("Erro ao carregar serviços");
        }
        finally
        {
            isLoading = false;
            await InvokeAsync(StateHasChanged);
        }
    }


    private async Task ShowToast(string msg)
    {
        toast = msg;
        await InvokeAsync(StateHasChanged);

        await Task.Delay(3000);

        toast = null;
        await InvokeAsync(StateHasChanged);
    }

    private string GetClass(Expression<Func<object>> field)
    {
        var fieldIdentifier = FieldIdentifier.Create(field);

        var isInvalid = editContext.GetValidationMessages(fieldIdentifier).Any();
        var isTouched = editContext.IsModified(fieldIdentifier);

        if (!isTouched)
            return "input";

        return isInvalid ? "input invalid" : "input valid";
    }

    private void Voltar() => Navigation.NavigateTo("/home");

    public class AgendamentoModel
    {
        [Required(ErrorMessage = "Selecione um animal")]
        public int? AnimalId { get; set; }

        [Required(ErrorMessage = "Selecione um serviço")]
        public int? ServicoId { get; set; }

        [Required(ErrorMessage = "Selecione a data")]
        public DateTime? DataAgendamento { get; set; }
    }

    private async Task Pagamento()
    {
        var isValid = editContext.Validate();

        if (!isValid)
        {
            await ShowToast("Preencha todos os campos");
            return;
        }

        var dataEncoded = Uri.EscapeDataString(model.DataAgendamento!.Value.ToString("s"));

        Navigation.NavigateTo($"/pagamento?animalId={model.AnimalId}&servicoId={model.ServicoId}&data={dataEncoded}");
    }
}