@page "/CadastroAnimal"
@inject NavigationManager Navigation
@inject AnimalService AnimalService
@inject EspecieService EspecieService
@inject TamanhoAnimalService TamanhoAnimalService

<main>

    <!-- seta para voltar exemplo -->
    <div class="header-page">
        <ul>
            <li>
                <p>
                    <span class="material-symbols-outlined" @onclick="() => Voltar()">arrow_back</span>
                </p>
            </li>
        </ul>
    </div>
    <EditForm class="card-form" Model="@animal" OnValidSubmit="Cadastrar">
        <DataAnnotationsValidator />
        <ul>
            <li>
                <p class="title">Cadastro de Animal</p>
            </li>
        </ul>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Nome *</p>
                    <input type="text"
                           class="input-real"
                           placeholder="Digite o nome do animal"
                           required />
                    <ValidationMessage class="text-danger" For="@(() => animal.Nome)" />
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Espécie *</p>
                    <select class="input-select" required>
                        @if (especies.Count == 0)
                        {
                            <option disabled>Não há opções de espécies disponíveis</option>
                        }
                        else
                        {
                            @foreach (var especie in especies)
                            {
                                <option value="@especie.Id">@especie.Nome</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Raça</p>
                    <input type="text"
                           class="input-real"
                           placeholder="Ex: Poodle, Siamês..." />
                    <ValidationMessage class="text-danger" For="@(() => animal.Raca)" />
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Idade</p>
                    <input type="number" class="input-real" placeholder="0" min="0" />
                    <ValidationMessage class="text-danger" For="@(() => animal.Idade)" />
                </li>
            </ul>
        </div>


        <div class="field">
            <ul>
                <li>
                    <p class="label">Tamanho *</p>
                    <select class="input-select" required>
                        @if (tamanhoAnimals.Count == 0)
                        {
                            <option disabled>Não há opções de tamanho disponíveis</option>
                        }
                        else
                        {
                            @foreach (var tamanho in tamanhoAnimals)
                            {
                                <option value="@tamanho.Id">@tamanho.Nome</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>


        <div class="actions">
            <button type="button" class="cancel">Cancelar cadastro</button>

            <button type="submit" class="btn-primary">Cadastrar Animal</button>
        </div>
    </EditForm>
</main>


@code {
    AnimalDTO animal = new();
    List<TamanhoAnimalDTO> tamanhoAnimals = new();
    List<EspecieOutputDTO> especies = new();

    protected override async Task OnInitializedAsync()
    {
        tamanhoAnimals = await TamanhoAnimalService.GetAllAsync();

        especies = await EspecieService.GetAllAsync();
    }


    private void Voltar()
    {
        Navigation.NavigateTo("/home");
    }

    private async Task Cadastrar()
    {
        var result = await AnimalService.Cadastrar(animal);
        if (result)
        {
            Navigation.NavigateTo("/home");
        }
        else
        {

        }
    }
}

