@page "/agendamento/{id:int}"
@inject HttpClient Http

<main>

    @if (agendamento == null)
    {
        <p>Carregando detalhes do agendamento...</p>
    }
    else
    {
        <div class="header-details">
            <ul>
                <li>
                    <p class="title">
                        <span class="material-symbols-outlined">pets</span>
                        Detalhes do Agendamento
                    </p>
                </li>
            </ul>
        </div>

 

        <div class="card-details">
            <ul>
                <li class="status">
                    <p class="status--@agendamento.Status.SemAcento().ToLower()"> @agendamento.Status</p>
                </li>
                <li>
                    <p>Data do Agendamento: @agendamento.DataAgendamento.ToString("dd/MM/yyyy, HH:mm")</p>
                    <p>Data de Confirmação: @agendamento.DataConfirmacao.ToString("dd/MM/yyyy, HH:mm")</p>
                </li>
            </ul>
        </div>

        <hr>

        <div class="card-details">
            <div class="section-title">
                <span class="material-symbols-outlined">pets</span>
                <p>Animal</p>
            </div>

            <ul>
                <li>
                    <p>Nome: @agendamento.Animal?.Nome</p>
                    <p>Espécie: @agendamento.Animal?.NomeEspecie</p>
                    <p>Raça: @agendamento.Animal?.Raca</p>
                    <p>Tamanho: @agendamento.Animal?.NomeTamanhoAnimal</p>
                </li>
            </ul>
        </div>

        <hr />

        <div class="card-details">
            <div class="section-title">
                <span class="material-symbols-outlined">content_cut</span>
                <p>Serviços</p>
            </div>

            <ul>
                <li class="row-between">
                    <p>@agendamento.Servicos.FirstOrDefault().Nome</p>
                    <p>R$ @agendamento.Servicos.FirstOrDefault().Preco</p>
                </li>
            </ul>
        </div>

        <hr />

        <div class="card-details">
            <div class="section-title">
                <span class="material-symbols-outlined">
                    @(agendamento.TipoPagamento switch
                    {
                        "Cartao de Credito" => "credit_card",
                        "Pix" => "qr_code",
                        "Dinheiro" => "payments",
                        _ => "attach_money"
                    })
                </span>
                <p>Pagamento</p>
            </div>

            <ul>
                <li>
                    <p>Tipo: @agendamento.TipoPagamento</p>
                    <p>Valor Total: R$ @agendamento.Servicos.FirstOrDefault().Preco</p>
                </li>
            </ul>
        </div>
    }

</main>


@code {
    [Parameter]
    public int Id { get; set; }

    private AgendamentoDTO? agendamento;

    protected override async Task OnInitializedAsync()
    {
        agendamento = await Http.GetFromJsonAsync<AgendamentoDTO>($"api/agendamento/{Id}");
    }
}
